<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Essential Tips</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.infantiq.EssentialTipsDev</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.dataparenting.DataParentingDev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dataparentingappdev</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb910867945646581</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb910867945646581</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0.0</string>
	<key>DP.AppleStoreId</key>
	<string>905124835</string>
	<key>DP.AppsFlyerDevKey</key>
	<string>rb2piyfLLw8aNdxK8nVrh8</string>
	<key>DP.HeapAppId</key>
	<string>1074414542</string>
	<key>DP.HipMobAppId</key>
	<string>351394c1fbf04177ad7e5ee7ab11a64b</string>
	<key>DP.MixPanelKey</key>
	<string>e5357e3ace9498c8b8aec5e0472a92db</string>
	<key>DP.OptimizelyToken</key>
	<string>AAMseu0AsOMdUZtL0ZgMnhKHUl9UprdI~2109860107</string>
	<key>DP.ParseApplicationId</key>
	<string>NlJHBG0NZgFS8JP76DBjA31MBRZ7kmb7dVSQQz3U</string>
	<key>DP.ParseClientId</key>
	<string>iMYPq4Fg751JyIOeHYnDH4LsuivOcm8uoi4DlwJ9</string>
	<key>DP.UXCamKey</key>
	<string>e2131a4f1acc98c</string>
	<key>FacebookAppID</key>
	<string>910867945646581</string>
	<key>FacebookDisplayName</key>
	<string>DataParentingDev</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>GothamRounded-BookItalic.otf</string>
		<string>GothamRounded-Light.otf</string>
		<string>GothamRounded-Bold.otf</string>
		<string>GothamRounded-LightItalic.otf</string>
		<string>GothamRounded-BoldItalic.otf</string>
		<string>GothamRounded-Medium.otf</string>
		<string>GothamRounded-Book.otf</string>
		<string>GothamRounded-MediumItalic.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPhone</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
