<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Genius Tips</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.infantiq.EssentialTips</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb736876539764983</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb736876539764983</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.infantiq.EssentialTips</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>essentialtipsapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0.1</string>
	<key>DP.AppleStoreId</key>
	<string>980367889</string>
	<key>DP.AppsFlyerDevKey</key>
	<string>rb2piyfLLw8aNdxK8nVrh8</string>
	<key>DP.HeapAppId</key>
	<string>469884249</string>
	<key>DP.HipMobAppId</key>
	<string>5242832472954f69a7f6d6ebe153edb5</string>
	<key>DP.MixPanelKey</key>
	<string>8c5bcbc29dc7b85aaeac439cb4aa7ef8</string>
	<key>DP.ParseApplicationId</key>
	<string>Vxvqum0HRF1NB00LEf2faaJYFzxd2Xh8hyrdY8MY</string>
	<key>DP.ParseClientId</key>
	<string>N4kS8ush3bY6Arb05tI86Gx9uA2EDiZEqzpVDrvq</string>
	<key>FacebookAppID</key>
	<string>736876539764983</string>
	<key>FacebookDisplayName</key>
	<string>Genuis Tips</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>GothamRounded-BookItalic.otf</string>
		<string>GothamRounded-Light.otf</string>
		<string>GothamRounded-Bold.otf</string>
		<string>GothamRounded-LightItalic.otf</string>
		<string>GothamRounded-BoldItalic.otf</string>
		<string>GothamRounded-Medium.otf</string>
		<string>GothamRounded-Book.otf</string>
		<string>GothamRounded-MediumItalic.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPhone</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
